<h2>Welcome to Airbnb Clone!</h2>
<p>Thank you for registering with us. To complete your registration, please click the button below to activate your
  account:</p>

<div style='text-align: center; margin: 30px 0;'>
  <a
    href='{{activationUrl}}'
    style='background-color: #FF5A5F; color: white; padding: 12px 30px; text-decoration: none; border-radius: 4px; display: inline-block;'
  >
    Activate Account
  </a>
</div>

<p>Or copy and paste this link in your browser:</p>
<p><a href='{{activationUrl}}' style='color: #FF5A5F;'>{{activationUrl}}</a></p>

<p style='color: #666;'>This link will expire in 24 hours for security reasons.</p>

<p style='color: #999; font-size: 14px;'>If you didn't create an account, please ignore this email.</p>