<h2>Password Reset Request</h2>
<p>You have requested to reset your password. Click the button below to reset it:</p>

<div style='text-align: center; margin: 30px 0;'>
  <a
    href='{{resetUrl}}'
    style='background-color: #FF5A5F; color: white; padding: 12px 30px; text-decoration: none; border-radius: 4px; display: inline-block;'
  >
    Reset Password
  </a>
</div>

<p>Or copy and paste this link in your browser:</p>
<p><a href='{{resetUrl}}' style='color: #FF5A5F;'>{{resetUrl}}</a></p>

<p style='color: #666;'>This link will expire in 1 hour for security reasons.</p>

<p style='color: #999; font-size: 14px;'>If you didn't request a password reset, please ignore this email.</p>